.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.card-body {
  overflow: scroll;
  height: 150px;
}

img.card-img-top {
  border-radius: 7px;
  margin-top: 8px;
}

.how {
  background: #eee;
  padding: 20px 0px;
  border-radius: 7px;
  border: 1px solid #336;
}

.paste {
  padding: 20px 0px;
}

.meta {
  background: rgb(255, 239, 232);
}